textarea {
    min-height: 100px;
    resize: vertical;
}

.is-025 {
    flex: none;
    width: 2,0833333333333333%;
}

.bordered {
    border-bottom: 1px solid #ccc;
}

.text-white-border {
    font-weight: 900;
    text-shadow: -2px -2px 0 White,-2px -1px 0 White,-2px 0px 0 White,-2px 1px 0 White,-2px 2px 0 White,-1px -2px 0 White,-1px -1px 0 White,-1px 0px 0 White,-1px 1px 0 White,-1px 2px 0 White,0px -2px 0 White,0px -1px 0 White,0px 0px 0 White,0px 1px 0 White,0px 2px 0 White,1px -2px 0 White,1px -1px 0 White,1px 0px 0 White,1px 1px 0 White,1px 2px 0 White,2px -2px 0 White,2px -1px 0 White,2px 0px 0 White,2px 1px 0 White,2px 2px 0 White
}

.inner-shadow {
    -moz-box-shadow: inset 0px 0px 8px #ccc;
    -webkit-box-shadow: inset 0px 0px 8px #ccc;
    box-shadow: inset 0px 0px 8px #ccc;
}

.bordered:last-child {
    border-radius: 0px 0px 5px 5px;
}

.top-round-bordered {
    border: 1px solid #7a7a7a;
    border-radius: 5px 5px 0px 0px;
}

.table-header {
    margin-bottom: 12px;
    text-transform: uppercase;
}

.table-body {
    min-height: 50px;
}

.message-header {
    cursor: move;
    cursor: -webkit-grabbing;
}

.message-body {
    padding: 1.5em !important;
}

.box {
    margin-left: -.75rem !important;
    margin-right: -.75rem !important;
}

.drag-handle {
    text-align: center;
    cursor: move;
    cursor: -webkit-grabbing;
}

.fullWidth {
    width: 100%;
}

.jsonData {
    height: 500px;
}

.logJsonData {
    height: 500px;
}

.hidden {
    display: none !important;
}

#tables-to-json h2 {
    margin-top: 30px;
}